<div class="tokens-container">
  <div class="token-dashboard">
    <h1>Invitations</h1>
    <div class="token-dashboard-conent">
      <aside>
        <p>💌 Invited Guests</p>
      </aside>
      <div>

      </div>
    </div>
  </div>
  </br>
  {{#each users as |user|}}
    {{#if user.token}}
      {{#if user.email}}
      {{else}}
        <div class="token-card">
          <p>{{user.token}}</p>
        </div>
      {{/if}}
    {{/if}}
  {{/each}}
  <div>
    {{tokensLength}}
  </div>
</div>
