<div class="home-header">
  <h1><i>Planifica tu boda de la forma mas sencilla</i></h1>
  <p>Para que todo lo que siempre soñaste se haga realidad</p>
</div>
<div class="home-section">
  <div class="home-card">
    <img src="img/home/punk_wedding.jpeg" alt="">
    <h2>Gestiona a tu manera</h2>
    <p class="card-subtitle"><i>Algo es algo</i></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis consequuntur, earum nostrum vel nam non sequi impedit veniam ab pariatur harum? Quasi, dolores cum quod vero commodi molestias asperiores at.</p>
  </div>
  <div class="home-card">
    <img src="img/home/rave_venue.jpeg" alt="">
    <h2>Deja que lo hagan por ti</h2>
    <p class="card-subtitle"><i>Algo es algo</i></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis consequuntur, earum nostrum vel nam non sequi impedit veniam ab pariatur harum? Quasi, dolores cum quod vero commodi molestias asperiores at.</p>
  </div>
  <div class="home-card">
    <img src="img/home/wedding_gift.jpeg" alt="">
    <h2>Tú añades ellos se lo piden</h2>
    <p class="card-subtitle"><i>Algo es algo</i></p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis consequuntur, earum nostrum vel nam non sequi impedit veniam ab pariatur harum? Quasi, dolores cum quod vero commodi molestias asperiores at.</p>
  </div>
</div>